[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mayavi = "*"
numpy = "*"
wheel = "*"
"gias2" = {path = "./gias2-0.6.1-py3-none-any.whl"}

[dev-packages]

[requires]
python_version = "3.6"
